.card{
    max-width: 250px;
    background-color: black;
    border: 5px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.card-img{

    margin-top: 7px;
    border: 5px solid white;
    width: 200px;
    height: 200px;
    position: center;

}

.card-img2{

    margin-top: 7px;
    border: 5px solid white;
    width: 100px;
    height: 100x;

}

.card-info{
   background-color: black;
}

.card-info_titulo{
    font-size: xx-large;
    color: white;;
}

.card-info_descripcion{
    background-color: black;
    font-size: xx-large;
    color: white;;
}

.gratis{
    background-color: black;
    color: white;
    font-size:  18px;
    font-size: italic;
}